                        <p>
                            <label for="name">Username</label>
                            <input type="text" name="username" placeholder="jane_doe" required>
                        </p>
                        <p>
                            <label for="name">E-mail</label>
                            <input type="text" name="email" placeholder="jane_doe@gmail.com" required>
                        </p>
                        <p>
                            <label for="name">Password</label>
                            <input type="password" name="password" placeholder="password" required>
                        </p>
                        <p>
                            <label for="name">Password confirmation</label>
                            <input type="password" name="password_confirm" placeholder="password" required>
                        </p>
                        <p>
                            <label for="name">Display Name</label>
                            <input type="text" name="name" placeholder="Name" required>
                        </p>
                        <p>
                            <label for="current_city">Current City</label>
                            <input type="text" name="current_city" placeholder="City" required>
                        </p>
                        <p>
                            <label for="profile_picture">Profile picture</label>
                            <input type="text" name="profile_picture" value="https://media1.thehungryjpeg.com/thumbs2ori_3686943_09tpyqe6r67ba765aheypmgvqo0vltfraf4ru77u_plane-icon.jpg" placeholder="Image">
                        </p>