{% block content %}

    <div class="modal signup-modal" tabindex="-1" role="dialog" id="signup-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Signup</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body-override">
                <!-- Signup FORM -->
                <h1 class="title">Signup</h1>
                    <form action="{% url 'signup' %}" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p><label for="name">Display Name</label>
                        <input type="text" name="name" placeholder="Name"></p>
                        <p><label for="current_city">Current City</label>
                        <input type="text" name="current_city" placeholder="City"></p>
                        <p><label for="profile_picture">Profile picture</label>
                        <input type="text" name="profile_picture" value="https://media1.thehungryjpeg.com/thumbs2ori_3686943_09tpyqe6r67ba765aheypmgvqo0vltfraf4ru77u_plane-icon.jpg" placeholder="Image"></p>
                        <input class="button" type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}