// Carousel
article.carousel {
    display: flex;
    justify-content: center;
    height: 50vh;
    overflow: hidden;
    img {
        width: 100vw;
    }    
}

h1.home-main-title {
    color: $light-gray;
    background-color: $dark-black;
    text-align: center;
    margin: 0px;
    padding: 30px 0px 10px 0px;
}

@media only screen and (min-width: 320px) {    
    main.home-main {
        padding: 15px;  
        background-color: $dark-black; 
        color: $light-gray;
    }
}

@media only screen and (min-width: 420px) {
    main.home-main {
        display: flex;
        justify-content: space-around;
        padding: 20px;
        .home-cards {
            padding: 0px 20px;
        }
    }
}

@media only screen and (min-width: 720px) {
    .carousel-control-prev-icon, .carousel-control-next-icon {
        width: 30px;
        height: 30px;
    }
}