.post_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60vw;
    min-height: 60vh;
    padding: 15px;
    margin: 50px auto;
    border: 5px solid $light-purple;
    border-radius: 5px;
    img {
        max-width: 100px;
    }
}

#comment_box{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#comment{
    min-width:60vw;
    max-width:60vw;
}