
.posting{
    min-height: 30vh;
}

.edit{
    margin-top: 3vh;
}

.user_update{
   display: flex; 
   flex-direction: column;
}

.update{
    padding: 6px 12px 6px 12px;
    max-width: 78.281px;
    align-self: center;
}