@import "./_variables/colors";

* {
    box-sizing: border-box;
}

h1 {
    color: $light-purple;
}

h1.home-main-title {
    color: #c7cadc;
    background-color: #050719;
    text-align: center;
    margin: 0px;
    padding: 30px 0px 10px 0px;
}

p {
    color: $light-gray;   
}

div {
    color: $light-gray;
}

#profile_page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#profile_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25vw;
    min-height: 60vh;
    padding: 15px;
    margin: 10px;
    margin-right: 7vw;
    border: 5px solid $light-purple;
    border-radius: 5px;
}

#post_box {
    margin-top: 10vh;
    max-width: 75vw;
    display: flex;
    justify-content: flex-end;
    
}
.profile_header{
    margin-left:25px;
}

.post_picture{
    max-height: 5vh;
    max-width: 5vh;
    border-radius: 5px;
}

.posting {
    margin: 5px 0;
    border: 2px solid $light-purple;
    border-radius:5px;
}

.profile_pic{
    max-width: 60%;
    max-height: 60%;
    border-radius: 50%;
    justify-content: center;
}

.member{
    font-size: small;
}

@media only screen and (max-width: 420px) {
    #profile_box {
        max-width: 90vw;
        display: flex;
        margin: 5%;
    }

    .profile_pic{
        min-width: 60%;
        justify-content: center;
    }
    
    #post_box {
        max-width: 95vw;
        display: flex;
    }

    .hide_when_small{
        display: none;
    }
} 

@media only screen and (max-width: 720px){
    #profile_box {
        max-width: 90vw;
        display: flex;
        margin: 5%;
    }
}

article {
    display: flex;
    justify-content: center;
    max-height: 50vh;
    overflow: hidden;
    img {
        width: 100vw;
    }
}


@media only screen and (min-width: 320px) {    
    main {
        padding: 15px;  
        background-color: #050719; 
        color: #c7cadc;
    }

    h1 {
        font-size: 2rem; 
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 480px) {
    main {
        display: flex;
        justify-content: space-around;
        padding: 20px;
        .home-cards {
            padding: 0px 20px;
        }
    }

    h1 {
        font-size: 2.5rem
    }

    h3 {
        font-size: 2.0rem;
    }

    p {
        font-size: 1.0rem;
    }
}

@media only screen and (min-width: 720px) {    
    .navbar-brand {
        font-size: 2.0rem; 
        margin-left: 10px;
        margin-right: 0px;
    }

    .auth-buttons {
        font-size: 1.5rem;
        margin: 0px 10px;
    }
    .justify-content-end {
        margin-right: 30px;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        width: 30px;
        height: 30px;
    }
}
