{% extends 'base.html' %}
{% block title %} Cities {% endblock %}

{% block content %}
<main class="city-detail">
    <!-- list of cities -->
    <aside class="city-detail">
        <h1>Cities</h1>
        <ul class="list-group">
            {% for city in cities %}
            <a href="{% url 'city_detail' city.slug %}">
                <li class="list-group-item">
                    <img src="{{city.picture}}" alt="">
                    <h5>{{city.name}}</h5>
                </li>
            </a>
            {% endfor %}
        </ul>
    </aside>

    <article class="city-detail">
        <!-- selected city info-->
        <div class="city-profile">
                <h1>{{city.name}}</h1>
                <h4>{{city.country}}</h4>
            </div>
        <img src="{{city.picture}}" alt="city image" class="city-img">
        <!-- the url will be linked to post create page when its made-->
        
        <h1 class="city-posts-header"> Posts </h2>
        <a class="city-posts-create" data-toggle="modal" data-target="#post-create-modal" href="">
            <i class="fas fa-plus"></i>
        </a>

        <!-- list of posts -->
        <ul class="list-group">
            {% for post in city.posts.all %}
            <li class="post-card list-group-item">
                <div class="post-header">
                    <img src="{{post.profile.profile_picture}}" alt="">
                    <a href="{% url 'post_detail' post.pk %}" class="font-weight-bold">{{post.title}}</a>
                    <p> 
                        <strong>Published Date:</strong>
                        {{ post.created_at.date | timesince:now }}
                        ago
                    </p>
                </div>
                
                <p>{{post.content|slice:":1000" | safe}}</p>
                
                <!-- if logic that outputs the delete and edit controls for only the posts associated with the logged in user-->
                {% if post.profile == user.profile  %}
                    <div class="dropdown show">
                        <a class="btn btn-primary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </a>

                        <div class="dropdown-menu" id="post-menu" aria-labelledby="dropdownMenuLink">
                    
                            <a class="dropdown-item" href="" data-toggle="modal" data-target="#comment-create-{{ post.pk}}">Add Comment</a>
                    
                            <a class="dropdown-item" data-toggle="modal" data-target="#post-edit-modal-{{post.pk}}">Edit Post</a>
                         
                            <a class="dropdown-item" href="" data-toggle="modal" data-target="#delete-post-modal-{{post.pk}}">Delete Post</a>

                        </div>
                    </div>

                {% else %}
                    <!-- if the post was created by another user you get a dummy list that simple says cannot edit-->
                    <div class="dropdown show">
                        <a class="dropdown-item" href="" data-toggle="modal" data-target="#comment-create-{{ post.pk}}">Add Comment</a>
                    </div>
                {% endif %}
            </li> 

            {% include 'post_modals/update_modal.html' %}

            {% include 'post_modals/delete_modal.html' %}

            {% include 'post_modals/comment_create.html' %}

            {% endfor %}
        </ul>
    </article>

</main>
{% endblock %}

{% block modal %}

    {% include 'post_modals/create_modal.html' %}

{% endblock %}