{% extends 'base.html' %}
{% block title %} Cities {% endblock %}

{% block content %}

<!-- selected city info-->
    <h2>{{city.name}}, {{city.country}}</h2>
    <img src="{{city.picture}}" alt="city image">
<!-- create post modal -->

<!-- the url will be linked to post create page when its made-->
<a href=""><button  type="button" class="btn btn-success">  Create Post + </button></a>

<!-- list of posts -->
    <ul class="list-group">
        {% for post in city.posts.all %}
        <li class="list-group-item">
            
            <!-- if logic that outputs the delete and edit congtrols for only the posts associated with the logged in user-->
            {% if post.profile == user.profile  %}
               <div class="dropdown show">
                    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="">Edit Post</a>
                        <a class="dropdown-item" href="{% url 'post_delete' post.pk %}">Delete Post</a>
                    </div>
                </div>
            {% else %}
                <!-- if the post was created by another user you get a dummy list that simple says cannot edit-->
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cannot Edit
                    </a>
                </div>

            {% endif %}
            <a href="{% url 'post_detail' post.pk %}" class="font-weight-bold">{{post.title}}: </a>
            <p>{{post.content}}</p>
        </li> 
        {% endfor %}
    </ul>


<!-- list of cities -->
    <ul class="list-group">
        {% for city in cities %}
        <a href="{% url 'city_detail' city.pk %}"><li class="list-group-item">
            <span>{{city.name}},</span>
            <span>{{city.country}}</span>
        </li></a>
        {% endfor %}
    
    </ul>

{% endblock %}