
{% extends 'base.html' %}
{% block title %} Profile {% endblock %}

{% block content %}

<h1 class="profile_header">
Profile
</h1>
<div id="profile_page" class="container-fluid">
    <!-- user -->
    <div id="profile_box">
        <img class="profile_pic user_img" src="{{profile.profile_picture}}" alt="User Image">
        <div class="col-1"></div>
        <span> 😭  </span>
        <b> <p>{{profile.name}}</p> </b>
        <span>Member since: </span>
        <p class="member">{{profile.join_date}}</p>
        <span>Currently in: {{profile.current_city}}</span>
        <a href="{% url 'profile_update' profile.pk %} " ><button type="button" class="btn btn-outline-primary edit">Edit Profile</button></a>
    </div>
<!-- posts -->
    <div id="post_box">
        <div>
            <div id="review_box ">
            {{profile.name}}'s Posts: 
            {% for post in profile.posts.all %}
                <div  class="col-12 posting">
                    <img class="post_picture user_img" src="{{profile.profile_picture}}" alt="User Image">
                <b><a href="{% url 'post_detail' post.pk %}">{{post.title | slice:":48"}}</a></b>
                {{post.city}}
                <span class="hide_when_small">{{post.created_at}}</span>
            </div>
            {% endfor %}
            </div>
        </div>    
    </div>
</div>





{% endblock %}
