{% block content %}
    <!-- Modal for Delete Post -->
    <div class="modal fade delete-post-modal" id="delete-post-modal-{{post.pk}}" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you would like to delete this post?</p>
                    <p>
                        <strong>Post Title:</strong> 
                        {{post.title}}
                    </p>
                </div>
                <div class="modal-footer">
                    <!-- Delete Post -->
                    <form action="{% url 'post_delete' post.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}