$dark-black: #050719;
$background-shadow: darken($dark-black, 5%);
$background-sub: lighten($dark-black, 5%);
$dark-blue: #101670;
$medium-blue: #142287;
$light-blue: #1c4ea3;
$light-gray: #4b475d;
$light-purple: #836faf;
$light-gray: #c7cadc;