* {
  box-sizing: border-box; }

body {
  background-color: #050719; }

nav {
  grid-area: nav; }

.nav-item {
  display: flex;
  align-items: center; }
  .nav-item img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0px; }
  .nav-item #user-welcome {
    padding: 0px;
    margin: 5px; }

@media only screen and (min-width: 720px) {
  .navbar-brand {
    font-size: 2.0rem;
    margin-left: 10px;
    margin-right: 0px; }
  .auth-buttons {
    font-size: 1.5rem;
    margin: 0px 10px; }
  .justify-content-end {
    margin-right: 30px; } }

.modal-content #modal-body-override {
  padding: 40px 30px 80px 30px; }

.modal-content .modal-header {
  padding-left: 30px; }

.modal-content label {
  font-weight: 600; }

.modal-content p {
  display: flex;
  flex-direction: column;
  color: black; }

.modal-content h5 {
  color: black; }

.modal-content .container-submit-button {
  display: flex;
  justify-content: center; }

.modal-content .btn-primary {
  margin-top: 15px;
  width: calc(100% - 0px); }

article.carousel {
  display: flex;
  justify-content: center;
  max-height: 50vh;
  overflow: hidden; }
  article.carousel img {
    width: 100vw; }

h1.home-main-title {
  color: #c7cadc;
  background-color: #050719;
  text-align: center;
  margin: 0px;
  padding: 30px 0px 10px 0px; }

@media only screen and (min-width: 320px) {
  main.home-main {
    padding: 15px;
    background-color: #050719;
    color: #c7cadc; } }

@media only screen and (min-width: 420px) {
  main.home-main {
    display: flex;
    justify-content: space-around;
    padding: 20px; }
    main.home-main .home-cards {
      padding: 0px 20px; } }

@media only screen and (min-width: 720px) {
  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 30px;
    height: 30px; } }

.posting {
  min-height: 30vh; }

.edit {
  margin-top: 3vh; }

.user_update {
  display: flex;
  flex-direction: column; }

.update {
  padding: 6px 12px 6px 12px;
  max-width: 78.281px;
  align-self: center; }

main.city-detail {
  display: grid;
  grid-template-columns: 30vw 70vw;
  grid-template-areas: "aside article";
  margin: 20px 20px; }
  main.city-detail aside {
    grid-area: aside;
    background-color: #1c4ea3;
    padding: 20px;
    border-radius: 2%; }
  main.city-detail article {
    grid-area: article;
    margin: 0px 40px;
    padding: 20px;
    border-radius: 2%;
    background-color: #1c4ea3; }
  main.city-detail h1 {
    color: white; }

aside.city-detail li {
  margin: 10px 0px; }

article.city-detail {
  display: grid;
  grid-template-rows: 250px 100px 1fr;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "city-profile city-img" "city-posts-header city-posts-create"  "posts posts"; }
  article.city-detail div {
    grid-area: city-profile; }
  article.city-detail img {
    grid-area: city-img;
    justify-self: end;
    border-radius: 5%;
    width: 320px;
    height: calc(320*9/16px); }
  article.city-detail h2 {
    grid-area: city-posts-header; }
  article.city-detail a {
    grid-area: city-posts-create;
    justify-self: end; }
  article.city-detail ul {
    grid-area: posts; }
  article.city-detail li {
    margin: 10px 0px; }

li.post-card {
  display: grid;
  grid-template-columns: 1fr 60px;
  grid-template-areas: "title ellipsis" "content content"; }
  li.post-card a {
    grid-area: title;
    justify-self: start;
    font-size: 1.5rem; }
  li.post-card div.dropdown {
    grid-area: ellipsis;
    width: 60px;
    height: 60px; }
  li.post-card p {
    grid-area: content;
    color: #050719; }

h1 {
  color: #836faf; }

p {
  color: #c7cadc; }

div {
  color: #c7cadc; }

#profile_page {
  background-color: #050719 !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

#profile_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 25vw;
  min-height: 60vh;
  padding: 15px;
  margin: 10px;
  margin-right: 7vw;
  border: 5px solid #836faf;
  border-radius: 5px; }

#post_box {
  margin-top: 10vh;
  max-width: 75vw;
  display: flex;
  justify-content: flex-end; }

#user_img {
  border-radius: 5px; }

.profile_header {
  margin-left: 25px; }

.post_picture {
  max-height: 5vh;
  max-width: 5vh;
  border-radius: 5px; }

.posting {
  padding: 6px;
  margin: 5px 0;
  border: 2px solid #836faf;
  border-radius: 5px;
  min-height: 7vh; }

.profile_pic {
  max-width: 60%;
  max-height: 60%;
  border-radius: 50%;
  justify-content: center; }

.user_img {
  border-radius: 5px; }

.member {
  font-size: small; }

.post_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60vw;
  min-height: 60vh;
  padding: 15px;
  margin: 50px auto;
  border: 5px solid #836faf;
  border-radius: 5px; }
  .post_body img {
    max-width: 100px; }

@media only screen and (max-width: 420px) {
  #profile_box {
    max-width: 90vw;
    display: flex;
    margin: 5%; }
  .profile_pic {
    min-width: 60%;
    justify-content: center; }
  #post_box {
    max-width: 95vw;
    display: flex; }
  .hide_when_small {
    display: none; } }

@media only screen and (max-width: 720px) {
  #profile_box {
    max-width: 90vw;
    display: flex;
    margin: 5%; } }

@media only screen and (min-width: 320px) {
  h1 {
    font-size: 2rem; }
  h3 {
    font-size: 1.5rem; }
  p {
    font-size: 0.8rem; } }

@media only screen and (min-width: 480px) {
  h1 {
    font-size: 2.5rem; }
  h3 {
    font-size: 2.0rem; }
  p {
    font-size: 1.0rem; } }

/*# sourceMappingURL=main.css.map */